.wrap {
  overflow-y: auto;
  font-family: "Roboto";
}

.list {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 370px);
  padding: 0 100px;
  list-style: none;
}

.container {
  width: fit-content;
  margin-bottom: 15px;
  margin-left: auto;
}

.other_container {
  margin-left: 0;
  margin-right: auto;
}

.content_wrap {
  position: relative;
  display: flex;
}

.content {
  height: fit-content;
  max-width: 520px;
  background: #ffffff;
}

.content_body {
  position: relative;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  word-break: break-all;
}

.more_other::after {
  content: "";
  display: flex;
  margin: auto;
  width: 24px;
  height: 24px;
  background-image: url("/public/assets/more-vertical.svg");
  transform: rotate(90deg);
  opacity: 75%;
}

.viewed::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 16px);
  left: 100%;
  background-image: url("/public/assets/all-done.svg");
  background-repeat: no-repeat;
  opacity: 75%;
}

.notViewed::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 16px);
  left: 100%;
  background-image: url("/public/assets/checkmark.svg");
  background-repeat: no-repeat;
  opacity: 75%;
}

.more_my::before {
  content: "";
  display: flex;
  margin: auto;
  width: 24px;
  height: 24px;
  background-image: url("/public/assets/more-vertical.svg");
  transform: rotate(90deg);
  opacity: 75%;
}

.my {
  padding: 15px 22px;
  border: 1px solid rgba(112, 124, 151, 0.25);
  border-radius: 10px 10px 0 10px;
  color: #707c97;
  box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05),
    15px 15px 35px rgba(112, 124, 151, 0.05);
}

.other {
  padding: 15px 22px;
  border-radius: 0px 10px 10px 10px;
  background: linear-gradient(90.54deg, #60a9f6 0%, #2a8bf2 100%);
  box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1),
    15px 15px 35px rgba(42, 139, 242, 0.05),
    10px 10px 50px rgba(42, 139, 242, 0.1);
  color: #ffffff;
}

.date_msg {
  display: flex;
  margin-left: auto;
  width: fit-content;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: rgba(112, 124, 151, 0.7);
}

.other_date {
  margin-left: 0;
  margin-right: auto;
}

.more_img {
  transform: rotate(90deg);
}
